In [22]:
import pandas as pd #pd is the alias
import numpy as np 
import datetime
from os import listdir 
from os.path import isfile, join
import glob 
import re

In [23]:
df = pd.read_csv("data-set/Mahamud Shakil - free_session_information.csv")
df

,Time Stamp,Name of the candidate,Contact,Email id,College name,Brach,People having laptop,Souce of communication,Unnamed: 8,Unnamed: 9,Country
0,8/24/2020 17:01:39,A.S.M. Raquibul Hasan,01722577922,raquibul.nsu@gmail.com,United International University,others,Yes,Facebook,NaN,NaN,Bangladesh
1,8/24/2020 10:08:54,Abdullah,NaN,sharif3abdullah@gmail.com,IIT,Engineering,NaN,NaN,NaN,NaN,Bangladesh
2,8/24/2020 9:20:28,Abdullah Bin Murad,01552443554,abmrifat54@gmail.com,Shahjalal University of Science and Technology,Engineering,Yes,NaN,NaN,NaN,Bangladesh
3,7/28/2020 12:16:30,Abhijoy Mukherjee,7003206060,abhijoymukherjee01@gmail.com,Asutosh College,Statistics,Yes,Friend,4.0,NaN,India
4,7/10/2020 13:56:14,Abhipreeti Acharjee,8274839744,deepamandal007@gmail.com,"DEPARTMENT OF PURE MATHEMATICS, UNIVERSITY OF ...",PURE MATHEMATICS,Yes,NaN,2.0,NaN,India
...,...,...,...,...,...,...,...,...,...,...,...
963,1/22/2021 22:06:24,Ramanish Banerjee,8017179702,banerjeeramanish@gmail.com,MAULANA AZAD COLLEGE,Honors (BSC/MSC),Yes,NaN,NaN,NaN,NaN
964,1/22/2021 22:46:21,Jinia Banerjee,6289719175,jiniabanerjee9727@gmail.com,Maulona Azad College,Honors (BSC/MSC),No,NaN,NaN,NaN,NaN
965,1/23/2021 10:57:08,Md Safiqul Islam,8250955315,safiqulislam6006@gmail.com,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN,NaN,NaN
966,1/23/2021 12:27:32,Soumojit Chatterjee,8101726672,imsoumojit@yahoo.com,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN,NaN,NaN
967,1/23/2021 17:37:35,Debanjan Bhattacharjee,6290909245,debanjanbhattacharjee2002@gmail.com,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN,NaN,NaN

In [24]:
df.shape

(968, 11)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968 entries, 0 to 967
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Time Stamp               948 non-null    object
 1   Name of the candidate    947 non-null    object
 2   Contact                  909 non-null    object
 3   Email id                 946 non-null    object
 4   College name             940 non-null    object
 5   Brach                    933 non-null    object
 6   People having laptop     940 non-null    object
 7   Souce of communication   432 non-null    object
 8   Unnamed: 8               318 non-null    float64
 9   Unnamed: 9               0 non-null      float64
 10  Country                  476 non-null    object
dtypes: float64(2), object(9)
memory usage: 83.3+ KB

In [83]:
#Handling Missing Data 
df.isna().sum()

Timestamp      20
Name           21
Contact        59
Email          22
College        28
Department     35
HasLaptop      28
Source        536
Country       492
dtype: int64

# Dropping the Unnamed columns

In [26]:
df.drop(['Unnamed: 8', 'Unnamed: 9'], axis = 1, inplace = True)

In [27]:
df

,Time Stamp,Name of the candidate,Contact,Email id,College name,Brach,People having laptop,Souce of communication,Country
0,8/24/2020 17:01:39,A.S.M. Raquibul Hasan,01722577922,raquibul.nsu@gmail.com,United International University,others,Yes,Facebook,Bangladesh
1,8/24/2020 10:08:54,Abdullah,NaN,sharif3abdullah@gmail.com,IIT,Engineering,NaN,NaN,Bangladesh
2,8/24/2020 9:20:28,Abdullah Bin Murad,01552443554,abmrifat54@gmail.com,Shahjalal University of Science and Technology,Engineering,Yes,NaN,Bangladesh
3,7/28/2020 12:16:30,Abhijoy Mukherjee,7003206060,abhijoymukherjee01@gmail.com,Asutosh College,Statistics,Yes,Friend,India
4,7/10/2020 13:56:14,Abhipreeti Acharjee,8274839744,deepamandal007@gmail.com,"DEPARTMENT OF PURE MATHEMATICS, UNIVERSITY OF ...",PURE MATHEMATICS,Yes,NaN,India
...,...,...,...,...,...,...,...,...,...
963,1/22/2021 22:06:24,Ramanish Banerjee,8017179702,banerjeeramanish@gmail.com,MAULANA AZAD COLLEGE,Honors (BSC/MSC),Yes,NaN,NaN
964,1/22/2021 22:46:21,Jinia Banerjee,6289719175,jiniabanerjee9727@gmail.com,Maulona Azad College,Honors (BSC/MSC),No,NaN,NaN
965,1/23/2021 10:57:08,Md Safiqul Islam,8250955315,safiqulislam6006@gmail.com,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN
966,1/23/2021 12:27:32,Soumojit Chatterjee,8101726672,imsoumojit@yahoo.com,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN
967,1/23/2021 17:37:35,Debanjan Bhattacharjee,6290909245,debanjanbhattacharjee2002@gmail.com,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN

# Update the columns name

In [34]:
df.rename(columns={"Time Stamp ": "Timestamp", "Name of the candidate ": "Name","Contact ":"Contact","Email id ": "Email","College name ":"College","Brach ":"Department","People having laptop ":"HasLaptop","Souce of communication ":"Source","Country ":"Country"},inplace=True)

In [35]:
df.columns

Index(['Timestamp', 'Name', 'Contact', 'Email', 'College', 'Department',
       'HasLaptop', 'Source', 'Country'],
      dtype='object')

In [36]:
df

,Timestamp,Name,Contact,Email,College,Department,HasLaptop,Source,Country
0,8/24/2020 17:01:39,A.S.M. Raquibul Hasan,01722577922,raquibul.nsu@gmail.com,United International University,others,Yes,Facebook,Bangladesh
1,8/24/2020 10:08:54,Abdullah,NaN,sharif3abdullah@gmail.com,IIT,Engineering,NaN,NaN,Bangladesh
2,8/24/2020 9:20:28,Abdullah Bin Murad,01552443554,abmrifat54@gmail.com,Shahjalal University of Science and Technology,Engineering,Yes,NaN,Bangladesh
3,7/28/2020 12:16:30,Abhijoy Mukherjee,7003206060,abhijoymukherjee01@gmail.com,Asutosh College,Statistics,Yes,Friend,India
4,7/10/2020 13:56:14,Abhipreeti Acharjee,8274839744,deepamandal007@gmail.com,"DEPARTMENT OF PURE MATHEMATICS, UNIVERSITY OF ...",PURE MATHEMATICS,Yes,NaN,India
...,...,...,...,...,...,...,...,...,...
963,1/22/2021 22:06:24,Ramanish Banerjee,8017179702,banerjeeramanish@gmail.com,MAULANA AZAD COLLEGE,Honors (BSC/MSC),Yes,NaN,NaN
964,1/22/2021 22:46:21,Jinia Banerjee,6289719175,jiniabanerjee9727@gmail.com,Maulona Azad College,Honors (BSC/MSC),No,NaN,NaN
965,1/23/2021 10:57:08,Md Safiqul Islam,8250955315,safiqulislam6006@gmail.com,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN
966,1/23/2021 12:27:32,Soumojit Chatterjee,8101726672,imsoumojit@yahoo.com,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN
967,1/23/2021 17:37:35,Debanjan Bhattacharjee,6290909245,debanjanbhattacharjee2002@gmail.com,Maulana Azad College,Honors (BSC/MSC),Yes,NaN,NaN

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968 entries, 0 to 967
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Timestamp   948 non-null    object
 1   Name        947 non-null    object
 2   Contact     909 non-null    object
 3   Email       946 non-null    object
 4   College     940 non-null    object
 5   Department  933 non-null    object
 6   HasLaptop   940 non-null    object
 7   Source      432 non-null    object
 8   Country     476 non-null    object
dtypes: object(9)
memory usage: 68.2+ KB

# Saving the datset after removing unnecessary things

In [ ]:
df.to_csv('free_session_information.csv')

# Batch information.csv dataset information

In [137]:
df2 = pd.read_csv("data-set/Mahamud Shakil - batch_inforamtion.csv")
df2

,Time,Email Address,Name,How well you guys are understanding the covered topics ?,Rate our way of training,How well your queries are getting solved,Would you like to join our full time course ?,Would you like to recommend this course to others ?,Would you like to apply for paid internship programme by Softanbees ?,Your suggestion for improving the training programme (Any other queries),Please describe Here,Please describe here,Would you like to recommend this course to others ?.1
0,8/1/20 23:05,deepanjan325@gmail.com,Deepanjan Biswas,5.0,5.0,5.0,Yes,Yes,Yes,NaN,NaN,NaN,NaN
1,8/1/20 23:06,ranubanerjee1984@gmail.com,RANU BANERJEE,5.0,5.0,5.0,Maybe,Yes,Maybe,NO,No,NaN,NaN
2,8/1/20 23:08,sharmisthaad@gmail.com,Sharmistha Adhikari,1.0,1.0,1.0,Maybe,Yes,Maybe,NaN,NaN,NaN,NaN
3,8/1/20 23:10,saikat20171@gmail.com,Saikat Mitra,4.0,5.0,5.0,Maybe,Yes,Yes,All is well,NaN,NaN,NaN
4,8/1/20 23:10,rahulroystat36@gmail.com,Rahul Roy,5.0,5.0,5.0,Yes,Yes,Yes,I want to know if you r going to tell us how t...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,8/28/2020 12:15:37,souravkr2025@gmail.com,Sourav Kumar Dan,3.0,4.0,4.0,Yes,NaN,No,NaN,NaN,No,No
161,8/28/2020 20:45:00,srijani.adhikary13@gmail.com,Srijani Adhikary,5.0,5.0,5.0,Maybe,NaN,Maybe,No,NaN,NaN,Yes
162,8/28/2020 20:45:07,suvargha2000@gmail.com,Suvargha Ghosh Dastidar,4.0,5.0,5.0,Maybe,NaN,Maybe,The training programme was quite good.,NaN,NaN,Yes
163,8/28/2020 21:19:05,titutitasdey@gmail.com,Titas Dey,5.0,5.0,5.0,Maybe,NaN,Maybe,NaN,NaN,NaN,Yes
164,8/28/2020 21:58:42,trishadutta25042001@gmail.com,Trisha Dutta,4.0,4.0,5.0,Yes,NaN,Maybe,Training program is good,NaN,NaN,Yes

In [138]:
df2.shape

(165, 13)

In [139]:
df2.columns

Index([' Time', 'Email Address', 'Name',
       'How well you guys are understanding the covered topics ?',
       'Rate our way of training', 'How well your queries are getting solved ',
       'Would you like to join our full time course ?',
       'Would you like to recommend this course to others ?',
       'Would you like to apply for paid internship programme by Softanbees  ?',
       'Your suggestion for improving the training programme (Any other queries)',
       'Please describe Here', 'Please describe here',
       'Would you like to recommend this course to others ?.1'],
      dtype='object')

In [140]:
df2[df2['Please describe Here'].isnull()]

,Time,Email Address,Name,How well you guys are understanding the covered topics ?,Rate our way of training,How well your queries are getting solved,Would you like to join our full time course ?,Would you like to recommend this course to others ?,Would you like to apply for paid internship programme by Softanbees ?,Your suggestion for improving the training programme (Any other queries),Please describe Here,Please describe here,Would you like to recommend this course to others ?.1
0,8/1/20 23:05,deepanjan325@gmail.com,Deepanjan Biswas,5.0,5.0,5.0,Yes,Yes,Yes,NaN,NaN,NaN,NaN
2,8/1/20 23:08,sharmisthaad@gmail.com,Sharmistha Adhikari,1.0,1.0,1.0,Maybe,Yes,Maybe,NaN,NaN,NaN,NaN
3,8/1/20 23:10,saikat20171@gmail.com,Saikat Mitra,4.0,5.0,5.0,Maybe,Yes,Yes,All is well,NaN,NaN,NaN
4,8/1/20 23:10,rahulroystat36@gmail.com,Rahul Roy,5.0,5.0,5.0,Yes,Yes,Yes,I want to know if you r going to tell us how t...,NaN,NaN,NaN
5,8/1/20 23:10,as1973240@gmail.com,Abhishek Singh,3.0,3.0,3.0,Maybe,Maybe,Maybe,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,8/28/2020 12:15:37,souravkr2025@gmail.com,Sourav Kumar Dan,3.0,4.0,4.0,Yes,NaN,No,NaN,NaN,No,No
161,8/28/2020 20:45:00,srijani.adhikary13@gmail.com,Srijani Adhikary,5.0,5.0,5.0,Maybe,NaN,Maybe,No,NaN,NaN,Yes
162,8/28/2020 20:45:07,suvargha2000@gmail.com,Suvargha Ghosh Dastidar,4.0,5.0,5.0,Maybe,NaN,Maybe,The training programme was quite good.,NaN,NaN,Yes
163,8/28/2020 21:19:05,titutitasdey@gmail.com,Titas Dey,5.0,5.0,5.0,Maybe,NaN,Maybe,NaN,NaN,NaN,Yes
164,8/28/2020 21:58:42,trishadutta25042001@gmail.com,Trisha Dutta,4.0,4.0,5.0,Yes,NaN,Maybe,Training program is good,NaN,NaN,Yes

In [141]:
df2[df2['Please describe here'].isnull()]

,Time,Email Address,Name,How well you guys are understanding the covered topics ?,Rate our way of training,How well your queries are getting solved,Would you like to join our full time course ?,Would you like to recommend this course to others ?,Would you like to apply for paid internship programme by Softanbees ?,Your suggestion for improving the training programme (Any other queries),Please describe Here,Please describe here,Would you like to recommend this course to others ?.1
0,8/1/20 23:05,deepanjan325@gmail.com,Deepanjan Biswas,5.0,5.0,5.0,Yes,Yes,Yes,NaN,NaN,NaN,NaN
1,8/1/20 23:06,ranubanerjee1984@gmail.com,RANU BANERJEE,5.0,5.0,5.0,Maybe,Yes,Maybe,NO,No,NaN,NaN
2,8/1/20 23:08,sharmisthaad@gmail.com,Sharmistha Adhikari,1.0,1.0,1.0,Maybe,Yes,Maybe,NaN,NaN,NaN,NaN
3,8/1/20 23:10,saikat20171@gmail.com,Saikat Mitra,4.0,5.0,5.0,Maybe,Yes,Yes,All is well,NaN,NaN,NaN
4,8/1/20 23:10,rahulroystat36@gmail.com,Rahul Roy,5.0,5.0,5.0,Yes,Yes,Yes,I want to know if you r going to tell us how t...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,8/28/2020 8:22:27,sonalisarenmumpi@gmail.com,SONALI SAREN,5.0,5.0,5.0,Maybe,NaN,Maybe,NaN,NaN,NaN,Yes
161,8/28/2020 20:45:00,srijani.adhikary13@gmail.com,Srijani Adhikary,5.0,5.0,5.0,Maybe,NaN,Maybe,No,NaN,NaN,Yes
162,8/28/2020 20:45:07,suvargha2000@gmail.com,Suvargha Ghosh Dastidar,4.0,5.0,5.0,Maybe,NaN,Maybe,The training programme was quite good.,NaN,NaN,Yes
163,8/28/2020 21:19:05,titutitasdey@gmail.com,Titas Dey,5.0,5.0,5.0,Maybe,NaN,Maybe,NaN,NaN,NaN,Yes
164,8/28/2020 21:58:42,trishadutta25042001@gmail.com,Trisha Dutta,4.0,4.0,5.0,Yes,NaN,Maybe,Training program is good,NaN,NaN,Yes

|Please describe Here, Please describe Here| with this name has two columns and also from total 165 rows null values exits 131 rows and another one is full of null values. so this two columns will not be very necessary for us.

# Delete unnecessary column/column with irrelevant data/no data at all

In [142]:
df2.drop(['Please describe Here',], axis = 1, inplace = True)

In [143]:
df2.drop(['Please describe here',], axis = 1, inplace = True)

In [144]:
df2

,Time,Email Address,Name,How well you guys are understanding the covered topics ?,Rate our way of training,How well your queries are getting solved,Would you like to join our full time course ?,Would you like to recommend this course to others ?,Would you like to apply for paid internship programme by Softanbees ?,Your suggestion for improving the training programme (Any other queries),Would you like to recommend this course to others ?.1
0,8/1/20 23:05,deepanjan325@gmail.com,Deepanjan Biswas,5.0,5.0,5.0,Yes,Yes,Yes,NaN,NaN
1,8/1/20 23:06,ranubanerjee1984@gmail.com,RANU BANERJEE,5.0,5.0,5.0,Maybe,Yes,Maybe,NO,NaN
2,8/1/20 23:08,sharmisthaad@gmail.com,Sharmistha Adhikari,1.0,1.0,1.0,Maybe,Yes,Maybe,NaN,NaN
3,8/1/20 23:10,saikat20171@gmail.com,Saikat Mitra,4.0,5.0,5.0,Maybe,Yes,Yes,All is well,NaN
4,8/1/20 23:10,rahulroystat36@gmail.com,Rahul Roy,5.0,5.0,5.0,Yes,Yes,Yes,I want to know if you r going to tell us how t...,NaN
...,...,...,...,...,...,...,...,...,...,...,...
160,8/28/2020 12:15:37,souravkr2025@gmail.com,Sourav Kumar Dan,3.0,4.0,4.0,Yes,NaN,No,NaN,No
161,8/28/2020 20:45:00,srijani.adhikary13@gmail.com,Srijani Adhikary,5.0,5.0,5.0,Maybe,NaN,Maybe,No,Yes
162,8/28/2020 20:45:07,suvargha2000@gmail.com,Suvargha Ghosh Dastidar,4.0,5.0,5.0,Maybe,NaN,Maybe,The training programme was quite good.,Yes
163,8/28/2020 21:19:05,titutitasdey@gmail.com,Titas Dey,5.0,5.0,5.0,Maybe,NaN,Maybe,NaN,Yes
164,8/28/2020 21:58:42,trishadutta25042001@gmail.com,Trisha Dutta,4.0,4.0,5.0,Yes,NaN,Maybe,Training program is good,Yes

# Update the columns name of Batch_information

In [145]:
df2.rename(columns={" Time": "Timestamp", "Email Address": "Email","How well you guys are understanding the covered topics ?": "UderstandingTopic(0-5)","Rate our way of training":"TrainingRating(0-5)","How well your queries are getting solved ":"Student_queries_sloved(0-5)","Would you like to join our full time course ?":"want_join_full_time_courses","Would you like to recommend this course to others ?":"recommend_course","Would you like to apply for paid internship programme by Softanbees  ?":"want_apply_paid_intership","Your suggestion for improving the training programme (Any other queries)":"suggestions_improving_program"},inplace=True)

In [146]:
df2.columns

Index(['Timestamp', 'Email', 'Name', 'UderstandingTopic(0-5)',
       'TrainingRating(0-5)', 'Student_queries_sloved(0-5)',
       'want_join_full_time_courses', 'recommend_course',
       'want_apply_paid_intership', 'suggestions_improving_program',
       'Would you like to recommend this course to others ?.1'],
      dtype='object')

In [147]:
df2.head()

,Timestamp,Email,Name,UderstandingTopic(0-5),TrainingRating(0-5),Student_queries_sloved(0-5),want_join_full_time_courses,recommend_course,want_apply_paid_intership,suggestions_improving_program,Would you like to recommend this course to others ?.1
0,8/1/20 23:05,deepanjan325@gmail.com,Deepanjan Biswas,5.0,5.0,5.0,Yes,Yes,Yes,NaN,NaN
1,8/1/20 23:06,ranubanerjee1984@gmail.com,RANU BANERJEE,5.0,5.0,5.0,Maybe,Yes,Maybe,NO,NaN
2,8/1/20 23:08,sharmisthaad@gmail.com,Sharmistha Adhikari,1.0,1.0,1.0,Maybe,Yes,Maybe,NaN,NaN
3,8/1/20 23:10,saikat20171@gmail.com,Saikat Mitra,4.0,5.0,5.0,Maybe,Yes,Yes,All is well,NaN
4,8/1/20 23:10,rahulroystat36@gmail.com,Rahul Roy,5.0,5.0,5.0,Yes,Yes,Yes,I want to know if you r going to tell us how t...,NaN

In [148]:
df2[df2['Would you like to recommend this course to others ?.1'].isnull()]

,Timestamp,Email,Name,UderstandingTopic(0-5),TrainingRating(0-5),Student_queries_sloved(0-5),want_join_full_time_courses,recommend_course,want_apply_paid_intership,suggestions_improving_program,Would you like to recommend this course to others ?.1
0,8/1/20 23:05,deepanjan325@gmail.com,Deepanjan Biswas,5.0,5.0,5.0,Yes,Yes,Yes,NaN,NaN
1,8/1/20 23:06,ranubanerjee1984@gmail.com,RANU BANERJEE,5.0,5.0,5.0,Maybe,Yes,Maybe,NO,NaN
2,8/1/20 23:08,sharmisthaad@gmail.com,Sharmistha Adhikari,1.0,1.0,1.0,Maybe,Yes,Maybe,NaN,NaN
3,8/1/20 23:10,saikat20171@gmail.com,Saikat Mitra,4.0,5.0,5.0,Maybe,Yes,Yes,All is well,NaN
4,8/1/20 23:10,rahulroystat36@gmail.com,Rahul Roy,5.0,5.0,5.0,Yes,Yes,Yes,I want to know if you r going to tell us how t...,NaN
...,...,...,...,...,...,...,...,...,...,...,...
64,8/4/20 11:01,anupriyahalder99@gmail.com,Anupriya Halder,4.0,4.0,4.0,No,Yes,No,NaN,NaN
65,8/4/20 12:32,sakshi90500@gmail.com,Kumari Sakshi,5.0,5.0,5.0,Maybe,Yes,Maybe,Tgere's no suggestion as it was teally nice an...,NaN
66,8/4/20 17:50,sharmagautam990@gmail.com,Gautam Kumar Sharma,4.0,5.0,4.0,Yes,Yes,Yes,No,NaN
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
df2[df2['recommend_course'].isnull()]

,Timestamp,Email,Name,UderstandingTopic(0-5),TrainingRating(0-5),Student_queries_sloved(0-5),want_join_full_time_courses,recommend_course,want_apply_paid_intership,suggestions_improving_program,Would you like to recommend this course to others ?.1
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,8/5/20 22:50,snehaguha2017@gmail.com,Sneha Guha,5.0,5.0,5.0,Maybe,NaN,qt,NaN,Yes
69,8/5/20 22:53,mayuridharmegha@gmail.com,Mayuri Dhar,5.0,5.0,5.0,No,NaN,No,NaN,Yes
70,8/5/20 22:55,srijanim75@gmail.com,Srijani Mondal,5.0,5.0,5.0,No,NaN,No,NaN,Yes
71,8/5/20 22:55,sanchitachowdhury02@gmail.com,Sanchita Chowdhury,5.0,5.0,5.0,No,NaN,No,It's really good...so for me there is nothing ...,Yes
...,...,...,...,...,...,...,...,...,...,...,...
160,8/28/2020 12:15:37,souravkr2025@gmail.com,Sourav Kumar Dan,3.0,4.0,4.0,Yes,NaN,No,NaN,No
161,8/28/2020 20:45:00,srijani.adhikary13@gmail.com,Srijani Adhikary,5.0,5.0,5.0,Maybe,NaN,Maybe,No,Yes
162,8/28/2020 20:45:07,suvargha2000@gmail.com,Suvargha Ghosh Dastidar,4.0,5.0,5.0,Maybe,NaN,Maybe,The training programme was quite good.,Yes
163,8/28/2020 21:19:05,titutitasdey@gmail.com,Titas Dey,5.0,5.0,5.0,Maybe,NaN,Maybe,NaN,Yes
164,8/28/2020 21:58:42,trishadutta25042001@gmail.com,Trisha Dutta,4.0,4.0,5.0,Yes,NaN,Maybe,Training program is good,Yes

In [150]:
#Handling Missing Data 
df2.isna().sum()

Timestamp                                                 2
Email                                                     2
Name                                                      2
UderstandingTopic(0-5)                                    2
TrainingRating(0-5)                                       2
Student_queries_sloved(0-5)                               2
want_join_full_time_courses                               2
recommend_course                                         98
want_apply_paid_intership                                 2
suggestions_improving_program                            88
Would you like to recommend this course to others ?.1    69
dtype: int64

In [151]:
import math
def merge_recommend_columns(col1,col2):
    """
    if col2 value is NaN or null then the value will replace by the col1 value
    also if col1 value is not Nan
    """
    if col2 == "NaN" or col2 == " " and col1 != "NaN":
        col2 = col1
    return col2

In [152]:
df2['recommend1'] = df2.apply(lambda row : merge_recommend_columns(row['recommend_course'],row['Would you like to recommend this course to others ?.1']), axis = 1)

In [153]:
df2

,Timestamp,Email,Name,UderstandingTopic(0-5),TrainingRating(0-5),Student_queries_sloved(0-5),want_join_full_time_courses,recommend_course,want_apply_paid_intership,suggestions_improving_program,Would you like to recommend this course to others ?.1,recommend1
0,8/1/20 23:05,deepanjan325@gmail.com,Deepanjan Biswas,5.0,5.0,5.0,Yes,Yes,Yes,NaN,NaN,NaN
1,8/1/20 23:06,ranubanerjee1984@gmail.com,RANU BANERJEE,5.0,5.0,5.0,Maybe,Yes,Maybe,NO,NaN,NaN
2,8/1/20 23:08,sharmisthaad@gmail.com,Sharmistha Adhikari,1.0,1.0,1.0,Maybe,Yes,Maybe,NaN,NaN,NaN
3,8/1/20 23:10,saikat20171@gmail.com,Saikat Mitra,4.0,5.0,5.0,Maybe,Yes,Yes,All is well,NaN,NaN
4,8/1/20 23:10,rahulroystat36@gmail.com,Rahul Roy,5.0,5.0,5.0,Yes,Yes,Yes,I want to know if you r going to tell us how t...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
160,8/28/2020 12:15:37,souravkr2025@gmail.com,Sourav Kumar Dan,3.0,4.0,4.0,Yes,NaN,No,NaN,No,No
161,8/28/2020 20:45:00,srijani.adhikary13@gmail.com,Srijani Adhikary,5.0,5.0,5.0,Maybe,NaN,Maybe,No,Yes,Yes
162,8/28/2020 20:45:07,suvargha2000@gmail.com,Suvargha Ghosh Dastidar,4.0,5.0,5.0,Maybe,NaN,Maybe,The training programme was quite good.,Yes,Yes
163,8/28/2020 21:19:05,titutitasdey@gmail.com,Titas Dey,5.0,5.0,5.0,Maybe,NaN,Maybe,NaN,Yes,Yes
164,8/28/2020 21:58:42,trishadutta25042001@gmail.com,Trisha Dutta,4.0,4.0,5.0,Yes,NaN,Maybe,Training program is good,Yes,Yes

In [154]:
#Handling Missing Data 
df2.isna().sum()

Timestamp                                                 2
Email                                                     2
Name                                                      2
UderstandingTopic(0-5)                                    2
TrainingRating(0-5)                                       2
Student_queries_sloved(0-5)                               2
want_join_full_time_courses                               2
recommend_course                                         98
want_apply_paid_intership                                 2
suggestions_improving_program                            88
Would you like to recommend this course to others ?.1    69
recommend1                                               69
dtype: int64

total recommend course null values 98 whereas  Would you like to recommend this course to others ?.1 also has 69 null values here build a function for this tow columns

In [116]:
help(merge_recommend_columns)

Help on function merge_recommend_columns in module __main__:

merge_recommend_columns(col1, col2)
    if col2 value is NaN or null then the value will replace by the col1 value
    also if col1 value is not Nan

In [155]:
df2.drop(['Would you like to recommend this course to others ?.1',], axis = 1, inplace = True)
df2.drop(['recommend1',], axis = 1, inplace = True)

In [156]:
df2

,Timestamp,Email,Name,UderstandingTopic(0-5),TrainingRating(0-5),Student_queries_sloved(0-5),want_join_full_time_courses,recommend_course,want_apply_paid_intership,suggestions_improving_program
0,8/1/20 23:05,deepanjan325@gmail.com,Deepanjan Biswas,5.0,5.0,5.0,Yes,Yes,Yes,NaN
1,8/1/20 23:06,ranubanerjee1984@gmail.com,RANU BANERJEE,5.0,5.0,5.0,Maybe,Yes,Maybe,NO
2,8/1/20 23:08,sharmisthaad@gmail.com,Sharmistha Adhikari,1.0,1.0,1.0,Maybe,Yes,Maybe,NaN
3,8/1/20 23:10,saikat20171@gmail.com,Saikat Mitra,4.0,5.0,5.0,Maybe,Yes,Yes,All is well
4,8/1/20 23:10,rahulroystat36@gmail.com,Rahul Roy,5.0,5.0,5.0,Yes,Yes,Yes,I want to know if you r going to tell us how t...
...,...,...,...,...,...,...,...,...,...,...
160,8/28/2020 12:15:37,souravkr2025@gmail.com,Sourav Kumar Dan,3.0,4.0,4.0,Yes,NaN,No,NaN
161,8/28/2020 20:45:00,srijani.adhikary13@gmail.com,Srijani Adhikary,5.0,5.0,5.0,Maybe,NaN,Maybe,No
162,8/28/2020 20:45:07,suvargha2000@gmail.com,Suvargha Ghosh Dastidar,4.0,5.0,5.0,Maybe,NaN,Maybe,The training programme was quite good.
163,8/28/2020 21:19:05,titutitasdey@gmail.com,Titas Dey,5.0,5.0,5.0,Maybe,NaN,Maybe,NaN
164,8/28/2020 21:58:42,trishadutta25042001@gmail.com,Trisha Dutta,4.0,4.0,5.0,Yes,NaN,Maybe,Training program is good

In [178]:
#convert the datatypes to category format 
df2['UderstandingTopic(0-5)'] = df2['UderstandingTopic(0-5)'].astype("category")
df2['TrainingRating(0-5)'] = df2['TrainingRating(0-5)'].astype("category")
df2['Student_queries_sloved(0-5)'] = df2['Student_queries_sloved(0-5)'].astype("category")

In [181]:
df2.dtypes

Timestamp                          object
Email                              object
Name                               object
UderstandingTopic(0-5)           category
TrainingRating(0-5)              category
Student_queries_sloved(0-5)      category
want_join_full_time_courses        object
recommend_course                   object
want_apply_paid_intership          object
suggestions_improving_program      object
dtype: object

# Saving the datset after removing unnecessary things

In [182]:
df2.shape

(165, 10)

In [183]:
df2.to_csv('batch_inforamtion.csv')